input[type="text"]::placeholder {
  padding-left: 10px;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #2c2738;
}

.container-sm {
  width: 376px;
  height: 425px;
  position: absolute;
  bottom: 2%;
  right: 2%;
}
.row-top {
  position: relative;
  height: 24px;
}
.box_shadow {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px 8px 0px 0px;
}
.col-sm-1-arrow {
  width: 54px;
  float: right;
}
.row-secondary {
  position: relative;
  width: 376px;
}
.col-sm-12-column {
  height: 403px;
}
.row-heading {
  height: 55px;
}
.col-sm-12-main {
  height: 346px;
  background-color: #f5f5f5;
}
.title {
  font-family: Manrope;
}
.title-input_title {
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #545f77;
}
.title-task_title {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #16243c;
}
.title-login {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #16243c;
}
.title-align {
  margin-left: 18px;
  margin-top: 15px;
}
.arrow {
  font-size: 14px;
  margin-left: 20px;
  margin-top: 8px;
  color: #000000;
  font-weight: 300;
}

.modal {
  position: relative;
  display: none;
  width: 178px;
  height: 80px;
  margin-left: -115px;
  overflow-y: hidden;
  overflow-x: hidden;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(44, 39, 56, 0.1),
    0px 4px 10px rgba(44, 39, 56, 0.1);
  border-radius: 0px 0px 4px 4px;
}

.form-control-user_input {
  width: 315px;
  height: 45px;
  margin-left: 18px;
  margin-top: 9px;
  background: #ffffff;
  border: 1px solid #2f73ea;
  box-sizing: border-box;
  box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04);
  border-radius: 4px;
}
.Register_label {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;

  color: #545f77;
}
a:link {
  text-decoration: none;
}
.row-checkbox {
  width: 218px;
  margin-left: 18px;
  margin-top: 15px;
}
.col-check_label {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #545f77;
}
input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
}

input[type="checkbox"]:disabled {
  border-color: black;
  background: #ddd;
  color: gray;
}

#check_box {
  position: absolute;
  width: 20px;
  height: 20px;
  color: #2f73ea;
  background: #ffffff;
  border: 1.5px solid #2f73ea;
  box-sizing: border-box;
  box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04);
  border-radius: 4px;
}

#check_box::before {
  content: "L";
  position: absolute;
  font-size: 0.9em;
  right: 4px;
  top: -0.2em;
  font-weight: 300;
  visibility: hidden;
  transform: scaleX(-1) rotate(-47deg);
}

#check_box:checked::before {
  visibility: visible;
}

#check_box:checked {
  border: 2px solid #2f73ea;
}

#check_box::after {
  font-size: 1em;
}
.btn-primary {
  width: 116px;
  height: 36px;
  margin-top: 26px;
  margin-left: 130px;
}
.row-register_new {
  width: 315px;
  margin-left: 18px;
}
.btn-next {
  margin-top: 165px;
}

.btn-switch.active {
  background: #2f73ea;
  color: #fff;
}

.btn {
  border-radius: 6px;
}
.btn-group-button {
  position: absolute;
  margin-top: 96px;
}
.btn-group-update_pwd {
  margin-left: 70px;
}

.forgot {
  width: 340px;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.row-generate {
  position: relative;
  width: 110px;
  height: 24px;
  margin-left: 221px;
}
.Register_label {
  letter-spacing: 0.15px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
}
.repeat {
  margin-top: 1px;
}
.main-changed {
  height: 284px;
}

.spi_img {
  margin-top: 12px;
  margin-left: 47px;
}

.spi_label {
  width: 117px;
  height: 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: center;

  color: #535e76;
}

.active label {
  cursor: pointer;
  color: #2f73ea;
}
.active svg {
  cursor: pointer;
  filter: url(#colorFilter);
}

.row-avatar {
  width: 96px;
  height: 25.06px;
  float: right;
  /* margin-left: 100px; */
}
.avatar {
  height: 25px;
  margin-left: -20px;
}
.first_avatar {
  margin-left: 0px;
}
.suggestions {
  height: 70px;
}
.suggestions:hover {
  background: #e9e9e9;
}
.suggestions:hover .suggestion_icon {
  color: #2f73ea;
}
.bi-search {
  color: #96a0b5;
}
.suggestions_label {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #16243c;
}

.title-address {
  width: 186px;
  height: 36px;
  float: left;
  margin-top: 7px;
  margin-left: 16px;
  margin-bottom: 0px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #16243c;
}
.rating_div {
  position: absolute;
  width: 72px;
  height: 16px;
  margin-top: 47px;
}

.rating_bar {
  display: flex;
  width: 46px;
  height: 6px;
  margin-top: 6px;
}
.bi-circle {
  font-size: 6px;
  border-radius: 100%;
  margin-left: 3px;
  background-color: #e5d437;
  color: #e5d437;
  vertical-align: 0em;
  line-height: 0.5;
}
.rate_number {
  margin-left: 2px;
  font-size: 12px;
  float: right;
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #0c788b;
}
.icon_div {
  width: 70px;
  height: 14px;
}
.suggestion_icon {
  font-size: 15px;
  color: #535e76;
  opacity: 0.5;
}
.nm-1 {
  margin-left: -5px;
}
#slct_all_checkbox {
  position: absolute;
  margin-left: 16px;
  width: 16px;
  margin-top: 13px;
  height: 16px;
  color: #2f73ea;
  background: #ffffff;
  border: 1px solid #dbe2ea;
  box-sizing: border-box;
  box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04);
  border-radius: 4px;
}

#slct_all_checkbox::before {
  content: "L";
  position: absolute;
  font-size: 0.9em;
  right: 2px;
  top: -0.3em;
  font-weight: 300;
  visibility: hidden;
  transform: scaleX(-1) rotate(-47deg);
}

#slct_all_checkbox:checked::before {
  visibility: visible;
}

#slct_all_checkbox:checked {
  border: 2px solid #2f73ea;
}

#slct_all_checkbox::after {
  font-size: 1em;
}

#save_info_checkbox {
  position: relative;
  margin-left: 16px;
  width: 16px;
  margin-top: 13px;
  height: 16px;
  color: #2f73ea;
  background: #ffffff;
  border: 1px solid #dbe2ea;
  box-sizing: border-box;
  box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04);
  border-radius: 4px;
}

#save_info_checkbox::before {
  content: "L";
  position: absolute;
  font-size: 0.9em;
  right: 2px;
  top: -0.3em;
  font-weight: 300;
  visibility: hidden;
  transform: scaleX(-1) rotate(-47deg);
}

#save_info_checkbox:checked::before {
  visibility: visible;
}

#save_info_checkbox:checked {
  border: 2px solid #2f73ea;
}

#save_info_checkbox::after {
  font-size: 1em;
}

.row-checkbox_main {
  height: 305px;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 5px;
  height: 20px;
}

::-webkit-scrollbar-thumb {
  background: #d7dadd;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.input_box {
  width: 312px;
  height: 25px;
  margin-left: 47px;
}

.save_info_text {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #16243c;
}

.rotateimg {
  display: none;
  float: right;
  margin-right: 19px;
  width: 20px;
  height: 20px;
  opacity: 0.5;
}

.rotateimg:hover {
  cursor: pointer;
  fill: red;
  filter: url(#colorFilter);
}
.input_box1 {
  height: 25px;
}
.input_box1:focus {
  box-shadow: none;
}
.input_box3 {
  width: 64px;
  height: 25px;
  border: 1px solid #ced4da;
  margin-left: -2px;
  margin-top: -3px;
  border-left-style: hidden;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background: #efefef;
}

.slct_all {
  height: 41px;
  border-bottom: 1px solid #e4e3e3;
}

.img_main_container {
  width: 350px;
  height: 230px;
  margin-left: 15px;
}
.opac {
  opacity: 0.5;
  width: 100%;
  height: auto;
  left: 0;
  top: 0;
}

.images_rating_div {
  margin-top: -20px;
}

.images_title {
  position: absolute;
  margin-top: 3px;
  margin-left: 10px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
}

.img_container {
  width: 173px;
  height: 112px;
  margin: 1px;
  overflow: hidden;
  background-color: black;
  transition: all 0.3s ease-in-out;
}

.row-main-cont {
  height: 243px;
  overflow-y: scroll;
}
.appointment_main_container {
  width: 355px;
  height: 243px;
  margin-left: 11px;
}

.app_container {
  width: 175px;
  height: 120px;
  float: left;
  position: relative;
  overflow: hidden;
  margin-right: 0px;
  background: #fcfcfc;
  border: 1px solid #cacaca;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.pro_address {
  font-weight: normal;
  font-size: 11px;
  line-height: 15px;
  color: #2b1717;
  font-style: normal;
  height: 30px;
}

.pro_name {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;

  color: #2b1717;
}
.fa-star {
  font-size: 6px;
  border-radius: 100%;
  margin-left: 3px;
  color: #e5d437;
  vertical-align: 0em;
  line-height: 0.5;
}
.first_star {
  margin-left: -15px;
}

.app_rating_div {
  width: 72px;
  height: 16px;
  margin-top: 0px;
}
.amount {
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 6px;
  color: #2b1717;
}
.time {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  color: #2b1717;
  opacity: 0.7;
}

.pro_img {
  position: relative;
}

.cal_label {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
}

.fa-calendar-alt {
  margin-left: 8px;
}

.dropdown_btn {
  position: relative;
  width: 97px;
  height: 25px;
  border-radius: 4px;
  background: #2f73ea;
}
.dropdown_btn:focus {
  outline: none;
  box-shadow: none;
}
.dropdown_btn:hover {
  background: #2f73ea;
}

.dropdown-menu {
  position: absolute;
  min-width: 105px;
  height: 182px;
}
.dropdown-item {
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #494949;
  height: 30px;
  padding: 0 7 0 0;
}

.dropdown-toggle::after {
  content: none;
}

.dropdown-item:hover {
  background: #e3f3ff;
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #494949;
  text-decoration: none;
}

#signature_img {
  width: 105px;
  height: 45px;
}

.sign_suggestions {
  height: 100px;
}
.sign_rating_div {
  position: relative;
  margin-top: 0px;
}
.drawn_signature_img {
  margin-top: -20px;
  width: 218.49px;
  height: 55.83px;
  float: left;
  background: url(../assets/sign2.png);
  background-repeat: no-repeat;
  background-size: 218.49px 90.83px;
  transform: rotate(6.42deg);
}
