#main {
  position: absolute;
  width: 376px;
  height: 435px;
  right: 2%;
  bottom: 2%;
}

#top_div {
  position: absolute;
  width: 52px;
  height: 24px;
  left: 300px;
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px 8px 0px 0px;
}

#top_arrow {
  width: 15px;
  height: 8.57px;
  margin-left: 20px;
  margin-top: 6px;
  color: #000000;
  font-size: 18px;
  font-weight: 1000;
}

#top_arrow:hover {
  color: #2f73ea;
}

#main_container {
  position: absolute;
  width: 376px;
  height: 403px;
  bottom: 2%;
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 10px 10px 0px 0px;
}

#inner_container {
  position: absolute;
  width: 376px;
  height: 346px;
  margin-top: 55px;
  background: #f5f5f5;
  border-radius: 0px;
  /* overflow-x: hidden; */
}
#data_div {
  height: 308px;
  overflow-x: hidden;
  overflow-y: scroll;
}

#eformimg {
  width: 42.81px;
  height: 15px;
  margin-left: 5px;
  margin-top: 4px;
}

#save_icon {
  width: 14px;
  height: 14px;
  float: right;
  margin-right: 19px;
  margin-top: 22px;
  transition: all 0.2s ease-in-out;
}

#save_icon:hover {
  /* opacity: .2; */
  transform: scale(1.05);
}

#top_label {
  position: absolute;
  width: 277px;
  height: 25px;
  left: 16px;
  top: 16px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #16243c;
}

#select_all_div {
  width: 376px;
  height: 40px;
  border-bottom: 1px solid #e4e3e3;
}

#textInput {
  width: 366px;
  height: 46px;
  background: #f5f7fb;
  border-radius: 10px 10px 0px 0px;
  margin-left: 5px;
  margin-top: 4px;
}

/* #slct_all_checkbox {
  position: absolute;
  margin-left: 16px;
  width: 16px;
  margin-top: 15px;
  height: 16px;
  background: #ffffff;
  border: 1px solid #dbe2ea;
  box-sizing: border-box;
  box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04);
  border-radius: 4px;
}

#save_info_checkbox {
  position: absolute;
  margin-left: 16px;
  width: 16px;
  margin-top: 13px;
  height: 16px;
  background: #ffffff;
  border: 1px solid #dbe2ea;
  box-sizing: border-box;
  box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04);
  border-radius: 4px;
} */

#save_info_label {
  position: absolute;
  width: 264px;
  height: 16px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 10px;
  margin-left: 46px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #16243c;
}

#slct_all_label {
  margin-left: 46px;
  margin-top: 12px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #16243c;
}

/* hr {
    margin-top: 9px;
    border: 1px solid #E4E3E3;
} */

.rotateimg {
  float: right;
  width: 20px;
  height: 20px;
  margin-top: 29px;
  margin-right: 19px;
  opacity: 0.5;
}

.rotateimg:hover {
  cursor: pointer;
  fill: red;
  filter: url(#colorFilter);
  /* fill: #2f73ea; */
}

#text_input_box {
  display: none;
  position: absolute;
  margin-left: 0px;
  margin-top: 1px;
  width: 248px;
  height: 25px;
  background: #ffffff;
  border: 0.5px solid #b9b9b9;
  box-sizing: border-box;
  border-radius: 4px;
  border-right-style: hidden;
}

#icon_div {
  display: none;
  position: absolute;
  width: 64px;
  height: 25px;
  float: left;
  margin-left: 290px;
  margin-top: 30px;
  background: #efefef;
  border: 0.5px solid #b9b9b9;
  box-sizing: border-box;
  border-radius: 4px;
  border-left-style: hidden;
}

#check_icon {
  float: left;
  width: 15px;
  height: 15px;
  margin-top: 2px;
  margin-left: 16px;
  color: #22da77;
  /* border: 1px solid #22DA77; */
}

/* #rightimg:hover {
    opacity: .5;
    color: #22DA77;
} */

#close_icon {
  float: right;
  width: 15px;
  height: 15px;
  margin-top: 2px;
  margin-right: 5px;
  color: #ff0000;
  /* border: 0.4px solid #F5F5F5; */
}

/* #slct_all_label {
  height: 41px;
  width: 376px;
  background: #f5f5f5;
  border-radius: 0px;
  border-bottom: 1px solid #e4e3e3;
} */

.data {
  width: 120px;
  height: 20px;
  margin-left: 47px;
  margin-top: 30px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #16243c;
}

.finalBlock {
  width: 376px;
  height: 60px;
}

/* width */

::-webkit-scrollbar {
  width: 5px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* #check {
    color: #22DA77;
}

#btn1 {
    border-right-style: none;
    border-left-style: none;
    background: #EFEFEF;
    height: 25px;
}

#btn2 {
    border-left-style: none;
    background: #EFEFEF;
    height: 25px;
}

#close {
    color: #FF0000;
} */

#save_info_div {
  position: relative;
  width: 376px;
  height: 60px;
  /* border-bottom: 1px solid #E4E3E3; */
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
}

#slct_all_checkbox {
  position: absolute;
  margin-left: 16px;
  width: 16px;
  margin-top: 15px;
  height: 16px;
  color: #2f73ea;
  background: #ffffff;
  border: 1px solid #dbe2ea;
  box-sizing: border-box;
  box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04);
  border-radius: 4px;
}

#slct_all_checkbox::before {
  content: "L";
  position: absolute;
  font-size: 0.9em;
  right: 3px;
  top: -0.2em;
  font-weight: 300;
  visibility: hidden;
  transform: scaleX(-1) rotate(-47deg);
}

#slct_all_checkbox:checked::before {
  visibility: visible;
}

#slct_all_checkbox:checked {
  border: 2px solid #2f73ea;
}

#slct_all_checkbox::after {
  font-size: 1em;
}

input[type="checkbox"]:disabled {
  border-color: black;
  background: #ddd;
  color: gray;
}

#save_info_checkbox {
  position: absolute;
  margin-left: 16px;
  width: 16px;
  margin-top: 13px;
  height: 16px;
  color: #2f73ea;
  background: #ffffff;
  border: 1px solid #dbe2ea;
  box-sizing: border-box;
  box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04);
  border-radius: 4px;
}

#save_info_checkbox::before {
  content: "L";
  position: absolute;
  font-size: 0.9em;
  right: 3px;
  top: -0.2em;
  font-weight: 300;
  visibility: hidden;
  transform: scaleX(-1) rotate(-47deg);
}

#save_info_checkbox:checked::before {
  visibility: visible;
}

#save_info_checkbox:checked {
  border: 2px solid #2f73ea;
}

#save_info_checkbox::after {
  font-size: 1em;
}
