#topdiv {
    position: absolute;
    width: 52px;
    height: 24px;
    left: 1260px;
    top: 142px;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 8px 8px 0px 0px;
}

#arrow {
    width: 15px;
    height: 8.57px;
    margin-left: 20px;
    margin-top: 6px;
    color: #000000;
    font-size: 18px;
    font-weight: 1000;
}

#arrow:hover {
    color: #2F73EA;
}

#rectangle1 {
    position: absolute;
    width: 376px;
    height: 403px;
    right: 2%;
    bottom: 2%;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px 10px 0px 0px;
}

#rectangle2 {
    position: absolute;
    width: 376px;
    height: 244px;
    background: #F5F5F5;
    border-radius: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
}

#toplabel {
    position: absolute;
    width: 232px;
    height: 25px;
    left: 16px;
    top: 16px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #16243C;
}

#eimg {
    width: 20px;
    height: 20px;
    float: left;
    margin-left: 11px;
    margin-top: 18px;
}

#srchimg {
    width: 18px;
    height: 18px;
    float: right;
    margin-right: 14.69px;
    margin-top: 21.8px;
    opacity: .6;
}

#srchimg:hover {
    color: #2F73EA;
}

#sdiv {
    height: 40px;
    width: 376px;
    margin-top: 55px;
    background-color: #F5F5F5;
    ;
}

#suggestlabel {
    width: 158px;
    height: 20px;
    margin-left: 16px;
    margin-top: 15px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    color: #16243C;
}

.dropdown {
    float: right;
}

#prodata {
    width: 129px;
    height: 65px;
    margin-top: 9px;
    float: right;
    /* padding: 0px; */
}

#icon {
    float: left;
    width: 25px;
    height: 25px;
    margin-left: 8px;
    margin-top: 8px;
    border-radius: 50%;
}

#dropdownMenuButton {
    background: #2F73EA;
    margin-right: 13px;
    margin-top: 12px;
    border-radius: 4px;
    width: 97px;
    height: 25px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    padding: 5px;
    transition: all .3s ease-in-out;
}

#dropdownMenuButton:hover {
    transform: scale(1.05);
}

.dropdown-menu {
    position: absolute;
    min-width: 105px;
    height: 182px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4p;
}

#up {
    font-size: 10px;
    margin-top: -4px;
    margin-left: 5px;
    float: left;
}

#down {
    font-size: 10px;
    margin-top: 4px;
    margin-left: -9.7px;
    float: left;
}

#arrow1 {
    font-weight: 600;
    float: right;
    margin-right: 8px;
    color: #FFFFFF;
    margin-top: 2px;
    /* box-sizing: border-box; */
}

.dropdown-item {
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #494949;
    height: 30px;
    padding: 0 7 0 0;
}

.dropdown-toggle::after {
    content: none;
}

.dropdown-item:hover {
    background: #E3F3FF;
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    color: #494949;
    text-decoration: none;
}

#rectangle7 {
    position: absolute;
    width: 376px;
    height: 70px;
    top: 121px;
    z-index: -1;
    background: #E9E9E9;
}

#cpimg {
    position: absolute;
    width: 12.13px;
    height: 14px;
    float: right;
    right: 74px;
    margin-top: 10px;
}

#puimg {
    position: absolute;
    width: 12.13px;
    height: 14px;
    float: right;
    right: 44px;
    margin-top: 10px;
}

#unimg {
    position: absolute;
    width: 12.13px;
    height: 14px;
    float: right;
    right: 14px;
    margin-top: 10px;
}

#sugimg {
    width: 17.08px;
    height: 18px;
    float: left;
    margin-left: 47px;
    margin-top: 12px;
}

#proimg {
    width: 18px;
    height: 18px;
    float: left;
    margin-left: 136.92px;
    margin-top: 12px;
}

#inimg {
    width: 18px;
    height: 18px;
    float: right;
    /* margin-left: 333px; */
    margin-right: 25px;
    margin-top: 12px;
}

#uimg {
    width: 26px;
    height: 26px;
    float: right;
    margin-top: 13px;
    margin-right: 33px;
}

#dimg {
    width: 8px;
    height: 4.94px;
    float: right;
    margin-right: -40px;
    margin-top: 26px;
}

#suglabel {
    position: absolute;
    width: 73px;
    height: 16px;
    left: 20px;
    top: 373px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #535E76;
}

#suglabel:hover {
    color: #2F73EA;
}

#prolabel {
    position: absolute;
    width: 117px;
    height: 16px;
    left: 151px;
    top: 373px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #535E76;
}

#prolabel:hover {
    color: #2F73EA;
}

#inlabel {
    position: absolute;
    width: 31px;
    height: 16px;
    right: 19px;
    top: 373px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #535E76;
}

#inlabel:hover {
    color: #2F73EA;
}

#lowerdiv {
    width: 376px;
    height: 64px;
    margin-top: 240px;
    background-color: white;
}

#box {
    width: 173px;
    height: 113px;
    margin-left: 16px;
    margin-top: 10px;
    background-color: pink;
    overflow-y: hidden;
}

#box:nth-child(2) {
    background: red;
    margin-right: 13px;
    float: right;
    margin-top: -113px;
    opacity: 0.5;
}

#box:nth-child(3) {
    background: gray;
    margin-top: 1px;
    opacity: 0.5;
}

#box:nth-child(4) {
    background: blue;
    float: right;
    margin-right: 13px;
    margin-top: -113px;
    opacity: 0.5;
}

#docimg {
    width: 177px;
    height: 113px;
}

#textInput {
    position: absolute;
    width: 366px;
    height: 46px;
    background: #F5F7FB;
    border-radius: 10px 10px 0px 0px;
    margin-left: 5px;
    margin-top: 4px;
}

#rating {
    width: 46px;
    height: 6px;
    margin-top: 99px;
    margin-left: 10px;
}

#display {
    width: 346px;
    height: 244px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: blueviolet;
}

#close {
    margin-top: 50px;
    float: right;
    margin-right: 20px;
}

#cont {
    width: 347px;
    height: 225px;
    margin-top: 4px;
    margin-left: 16px;
}

#cont1 {
    width: 173px;
    height: 112px;
    float: left;
    position: relative;
    overflow: hidden;
    background: #FCFCFC;
    border: 1px solid #CACACA;
    box-sizing: border-box;
    transition: all .3s ease-in-out;
}

#cont1:hover {
    transform: scale(1.05);
}

.opac {
    position: absolute;
    opacity: .5;
    width: 100%;
    height: auto;
    left: 0;
    top: 0;
}

#cont2 {
    width: 173px;
    height: 112px;
    float: left;
    position: relative;
    overflow: hidden;
    background: #FCFCFC;
    border: 1px solid #CACACA;
    box-sizing: border-box;
    margin-left: 1px;
    transition: all .3s ease-in-out;
}

#cont2:hover {
    transform: scale(1.05);
}

#cont3 {
    width: 173px;
    height: 112px;
    float: left;
    position: relative;
    overflow: hidden;
    background: #FCFCFC;
    border: 1px solid #CACACA;
    box-sizing: border-box;
    margin-top: 1px;
    transition: all .3s ease-in-out;
}

#cont3:hover {
    transform: scale(1.05);
}

#cont4 {
    width: 173px;
    height: 112px;
    float: left;
    position: relative;
    overflow: hidden;
    background: #FCFCFC;
    border: 1px solid #CACACA;
    box-sizing: border-box;
    margin-top: 1px;
    margin-left: 1px;
    transition: all .3s ease-in-out;
}

#cont4:hover {
    transform: scale(1.05);
}

#group {
    /* position: relative; */
    width: 68px;
    height: 14px;
    margin-top: 35px;
    /* margin-left: 10px; */
}

#raimg {
    width: 46px;
    height: 6px;
    float: left;
}

#rate {
    position: relative;
    bottom: 4px;
    width: 18px;
    height: 16px;
    /* margin-left: 7px; */
    float: right;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    /* identical to box height */
    color: #0C788B;
}

#calendar {
    color: #2F73EA;
    font-size: 20px;
    opacity: .8;
}

#calendar:hover {
    opacity: 1;
}

#textlabel {
    /* position: relative; */
    width: 97px;
    margin: 0 0 0 0px;
    /* height: 19px; */
    /* margin-top: 9px; */
    /* margin-left: 7px; */
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #2B1717;
}

#group2 {
    width: 84px;
    height: 20px;
    margin-left: 8px;
    margin-top: 10px;
    float: left;
}

#group2:hover {
    opacity: 1;
}

#app {
    width: 61px;
    height: 14px;
    float: right;
    margin-left: 5px;
    margin-top: 3px;
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    /* identical to box height */
    color: #2F73EA;
}

#address {
    float: right;
    width: 129px;
    height: 30px;
    margin-top: 2px;
    margin: 0 0 0px;
    /* margin-right: 6px; */
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    /* or 136% */
    color: #2B1717;
}

#price {
    width: 40px;
    height: 31px;
    float: right;
    margin-right: 8px;
    margin-top: 4px;
}

#amount {
    float: left;
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 6px;
    /* identical to box height */
    color: #2B1717;
}

#time {
    float: right;
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    /* identical to box height */
    color: #2B1717;
    opacity: 0.7;
}

#closeicon {
    position: relative;
    float: right;
    font-size: 25px;
    margin-top: 13px;
    margin-right: -5px;
    color: #96A0B5;
    cursor: pointer;
}