#top_div {
    position: absolute;
    width: 52px;
    height: 24px;
    left: 1260px;
    top: 142px;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 8px 8px 0px 0px;
}

#top_arrow {
    width: 15px;
    height: 8.57px;
    margin-left: 20px;
    margin-top: 6px;
    color: #000000;
    font-size: 18px;
    font-weight: 1000;
}

#main_container {
    position: absolute;
    width: 376px;
    height: 403px;
    right: 2%;
    bottom: 2%;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px 10px 0px 0px;
}

#inner_container {
    position: absolute;
    width: 376px;
    height: 346px;
    margin-top: 55px;
    background: #F5F5F5;
    border-radius: 0px;
}

#eform_logo {
    width: 15px;
    height: 14.99px;
    float: left;
    margin-left: 11px;
    margin-top: 21px;
}

#Current_user_icon {
    width: 26px;
    height: 26px;
    float: right;
    margin-top: 15px;
    margin-right: 33px;
}

#user_dropdown_arrow {
    width: 8px;
    height: 4.94px;
    float: right;
    margin-right: -40px;
    margin-top: 26px;
}

#top_label {
    position: absolute;
    width: 232px;
    height: 25px;
    left: 35px;
    top: 16px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    color: #16243C;
}

#old_pass_label {
    position: absolute;
    width: 92px;
    height: 19px;
    left: 18px;
    top: 17px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #545F77;
}

#old_pass_input {
    position: absolute;
    width: 315px;
    height: 45px;
    left: 18px;
    right: 43px;
    top: 45px;
    background: #FFFFFF;
    border: 1px solid #2F73EA;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04);
    border-radius: 4px;
}

#new_pass_label {
    position: absolute;
    width: 120px;
    height: 19px;
    left: 18px;
    top: 112px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #545F77;
}

#new_pass_input {
    position: absolute;
    width: 315px;
    height: 45px;
    left: 18px;
    right: 43px;
    top: 137px;
    background: #FFFFFF;
    border: 1px solid #2F73EA;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04);
    border-radius: 4px;
}

input[type="password"]::placeholder {
    padding-left: 10px;
    letter-spacing: 0.15px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #545F77;
}

#repeat_pass_label {
    position: absolute;
    width: 114px;
    height: 19px;
    left: 18px;
    top: 210px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #545F77;
}

#repeat_pass_input {
    position: absolute;
    width: 315px;
    height: 45px;
    left: 18px;
    right: 43px;
    top: 238px;
    background: #FFFFFF;
    border: 1px solid #2F73EA;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04);
    border-radius: 4px;
}

#cancel_btn {
    position: absolute;
    width: 116px;
    height: 36px;
    float: left;
    left: 40px;
    top: 306px;
    background: #F5F5F5;
    /* border-radius: 6px; */
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    align-items: center;
    text-align: center;
    color: black;
    border-style: hidden;
}

#cancel_btn:focus {
    background: #2F73EA;
    border-radius: 6px;
    color: #FFFFFF;
}

#save_btn {
    position: absolute;
    float: right;
    width: 116px;
    height: 36px;
    left: 200px;
    /* right: 90px; */
    top: 306px;
    background: #F5F5F5;
    /* border-radius: 6px; */
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    align-items: center;
    text-align: center;
    color: black;
    border-style: hidden;
}

#save_btn:focus {
    background: #2F73EA;
    border-radius: 6px;
    color: #FFFFFF;
}

#generate_pass_link {
    position: absolute;
    height: 24px;
    left: 221px;
    top: 183px;
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    /* identical to box height, or 200% */
    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: 0.15px;
    color: #2F73EA;
}

.ismodal {
    display: none;
    position: absolute;
    z-index: 1;
    padding-top: 2px;
    left: 19px;
    top: 184px;
    width: 314px;
    height: 80px;
    overflow: auto;
    background-color: white;
}


/* Modal Content */

.ismodal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 80%;
    height: 50%;
}


/* The Close Button */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 18px;
    font-weight: bold;
    margin-top: -25px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#generate_pass_img {
    width: 19.65px;
    height: 19.99px;
    margin-left: 230px;
    margin-top: 25px;
}

#generate_pass_label {
    position: absolute;
    width: 227px;
    height: 24px;
    left: 55px;
    top: 2px;
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    letter-spacing: 0.15px;
    color: #000000;
    opacity: 0.5;
}

#regex {
    position: absolute;
    width: 127px;
    height: 24px;
    left: 55px;
    top: 34px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    letter-spacing: 0.15px;
    color: #424242;
}

#key {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 16px;
    top: 21px;
    background: #FFFFFF;
    /* box-shadow: 0px 2px 4px rgba(44, 39, 56, 0.1), 0px 4px 10px rgba(44, 39, 56, 0.1); */
    border-radius: 0px 0px 4px 4px;
}

#toggle_Password {
    position: absolute;
    margin-top: 149px;
    margin-left: 298px;
    cursor: pointer;
    font-size: 18px;
    color: #535E76;
}

#rpt_toggle_Password {
    position: absolute;
    margin-top: 247px;
    margin-left: 298px;
    cursor: pointer;
    font-size: 18px;
    color: #535E76;
}