#topdiv {
    position: absolute;
    width: 52px;
    height: 24px;
    left: 1250px;
    top: 142px;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 8px 8px 0px 0px;
}

#arrow {
    width: 15px;
    height: 8.57px;
    margin-left: 20px;
    margin-top: 6px;
}

#rectangle1 {
    position: absolute;
    width: 376px;
    height: 403px;
    right: 2%;
    bottom: 2%;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px 10px 0px 0px;
}

#rectangle2 {
    position: absolute;
    width: 376px;
    height: 346px;
    margin-top: 55px;
    background: #F5F5F5;
    border-radius: 0px;
}

#eimg {
    width: 20px;
    height: 20px;
    float: left;
    margin-left: 11px;
    margin-top: 18px;
}

#uimg {
    width: 26px;
    height: 26px;
    float: right;
    margin-top: 13px;
    margin-right: 33px;
}

#dimg {
    width: 8px;
    height: 4.94px;
    float: right;
    margin-right: -40px;
    margin-top: 26px;
}

#toplabel {
    position: absolute;
    width: 232px;
    height: 25px;
    left: 35px;
    top: 16px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    color: #16243C;
}

#loglabel {
    position: absolute;
    width: 340px;
    height: 60px;
    left: 16px;
    top: 18px;
    right: 20px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #16243C;
    opacity: 0.8;
}

#userlabel {
    position: absolute;
    width: 140px;
    height: 19px;
    left: 16px;
    top: 107px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #545F77;
}

#email {
    position: absolute;
    width: 315px;
    height: 45px;
    left: 16px;
    top: 135px;
    background: #FFFFFF;
    border: 1px solid #2F73EA;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04);
    border-radius: 4px;
}

#cancelbtn {
    position: absolute;
    width: 116px;
    height: 36px;
    float: left;
    left: 16px;
    top: 276px;
    background: #2F73EA;
    border-radius: 6px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

#resetbtn {
    position: absolute;
    float: right;
    width: 222px;
    height: 36px;
    left: 150px;
    padding-left: 7px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    /* right: 90px; */
    top: 276px;
    background: #2F73EA;
    border-radius: 6px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}