#topdiv {
    position: absolute;
    width: 52px;
    height: 24px;
    left: 1250px;
    top: 142px;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 8px 8px 0px 0px;
}

#arrow {
    width: 15px;
    height: 8.57px;
    margin-left: 20px;
    margin-top: 6px;
}

#rectangle1 {
    position: absolute;
    width: 376px;
    height: 403px;
    right: 2%;
    bottom: 2%;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px 10px 0px 0px;
}

#rectangle2 {
    position: absolute;
    width: 376px;
    height: 244px;
    background: #F5F5F5;
    border-radius: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
}

#toplabel {
    position: absolute;
    width: 232px;
    height: 25px;
    left: 16px;
    top: 16px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #16243C;
}

#eimg {
    width: 20px;
    height: 20px;
    float: left;
    margin-left: 11px;
    margin-top: 18px;
}

#srchimg {
    width: 18px;
    height: 18px;
    float: right;
    margin-right: 14.69px;
    margin-top: 21.8px;
}

#sdiv {
    height: 40px;
    width: 376px;
    margin-top: 55px;
    background-color: #F5F5F5;
    ;
}

#suggestlabel {
    width: 90px;
    height: 20px;
    margin-left: 16px;
    margin-top: 15px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    color: #16243C;
}

#rectangle7 {
    position: absolute;
    width: 376px;
    height: 70px;
    top: 121px;
    z-index: -1;
    background: #E9E9E9;
}

#cpimg {
    position: absolute;
    width: 12.13px;
    height: 14px;
    float: right;
    right: 74px;
    margin-top: 10px;
}

#puimg {
    position: absolute;
    width: 12.13px;
    height: 14px;
    float: right;
    right: 44px;
    margin-top: 10px;
}

#unimg {
    position: absolute;
    width: 12.13px;
    height: 14px;
    float: right;
    right: 14px;
    margin-top: 10px;
}

#sugimg {
    width: 20px;
    height: 20px;
    float: left;
    margin-left: 47px;
    margin-top: 12px;
}

#proimg {
    width: 20px;
    height: 20px;
    float: left;
    margin-left: 136.92px;
    margin-top: 12px;
}

#inimg {
    width: 20px;
    height: 20px;
    float: right;
    /* margin-left: 333px; */
    margin-right: 25px;
    margin-top: 12px;
}

#uimg {
    width: 26px;
    height: 26px;
    float: right;
    margin-top: 13px;
    margin-right: 33px;
}

#dimg {
    width: 8px;
    height: 4.94px;
    float: right;
    margin-right: -40px;
    margin-top: 26px;
}

#suglabel {
    position: absolute;
    width: 73px;
    height: 16px;
    left: 20px;
    top: 373px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #2F73EA;
}

#prolabel {
    position: absolute;
    width: 117px;
    height: 16px;
    left: 151px;
    top: 373px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #2F73EA;
}

#inlabel {
    position: absolute;
    width: 31px;
    height: 16px;
    right: 19px;
    top: 373px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #2F73EA;
}

#lowerdiv {
    width: 376px;
    height: 64px;
    margin-top: 240px;
    background-color: white;
}

#box {
    width: 173px;
    height: 113px;
    margin-left: 16px;
    margin-top: 10px;
    background-color: pink;
    overflow-y: hidden;
}

#box:nth-child(2) {
    background: red;
    margin-right: 13px;
    float: right;
    margin-top: -113px;
    opacity: 0.5;
}

#box:nth-child(3) {
    background: gray;
    margin-top: 1px;
    opacity: 0.5;
}

#box:nth-child(4) {
    background: blue;
    float: right;
    margin-right: 13px;
    margin-top: -113px;
    opacity: 0.5;
}

#docimg {
    width: 177px;
    height: 113px;
}