#topdiv {
    position: absolute;
    width: 52px;
    height: 24px;
    left: 1250px;
    top: 142px;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 8px 8px 0px 0px;
}

#arrow {
    width: 15px;
    height: 8.57px;
    margin-left: 20px;
    margin-top: 6px;
}

#rectangle1 {
    position: absolute;
    width: 376px;
    height: 403px;
    right: 2%;
    bottom: 2%;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px 10px 0px 0px;
}

#rectangle2 {
    position: absolute;
    width: 376px;
    height: 346px;
    margin-top: 55px;
    background: #F5F5F5;
    border-radius: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
}

#saveimg {
    width: 14px;
    height: 14px;
    float: right;
    margin-right: 19px;
    margin-top: 22px;
}

#saveimg:hover {
    opacity: .2;
}

#toplabel {
    position: absolute;
    width: 277px;
    height: 25px;
    left: 16px;
    top: 16px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #16243C;
}

#eimg {
    width: 20px;
    height: 20px;
    float: left;
    margin-left: 11px;
    margin-top: 18px;
}

#sdiv {
    width: 376px;
    height: 40px;
}

#srchimg {
    width: 18px;
    height: 18px;
    margin-left: 8px;
    top: 10px;
}

#list {
    list-style: none;
    width: 170px;
    height: 60px;
    margin-left: 16px;
    margin-top: 16px;
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #16243C;
}


/* 
#list:nth-child(n+4) {
    display: none;
} */

#checkdiv {
    width: 376px;
    height: 60px;
}

#textInput {
    width: 366px;
    height: 46px;
    background: #F5F7FB;
    border-radius: 10px 10px 0px 0px;
    margin-left: 5px;
    margin-top: 4px;
}

#checkone {
    position: absolute;
    margin-left: 16px;
    width: 16px;
    margin-top: 15px;
    height: 16px;
    background: #FFFFFF;
    border: 1px solid #DBE2EA;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04);
    border-radius: 4px;
}

#checktwo {
    position: absolute;
    margin-left: 16px;
    width: 16px;
    margin-top: 13px;
    height: 16px;
    background: #FFFFFF;
    border: 1px solid #DBE2EA;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04);
    border-radius: 4px;
}

#name {
    width: 264px;
    height: 38px;
    margin-top: 10px;
    margin-left: 46px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #16243C;
}

#all {
    margin-left: 46px;
    margin-top: 12px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #16243C;
}

hr {
    margin-top: 9px;
    border: 1px solid #E4E3E3;
}

#rotateimg1 {
    float: right;
    width: 20px;
    height: 20px;
    margin-top: 29px;
    margin-right: 19px;
    opacity: 0.5;
}

#rotateimg2 {
    float: right;
    width: 20px;
    height: 20px;
    margin-top: 29px;
    margin-right: 19px;
    opacity: 0.5;
}

#rotateimg3 {
    float: right;
    width: 20px;
    height: 20px;
    margin-top: 29px;
    margin-right: 19px;
    opacity: 0.5;
}

#rotateimg4 {
    float: right;
    width: 20px;
    height: 20px;
    margin-top: 29px;
    margin-right: 19px;
    opacity: 0.5;
}

#rotateimg5 {
    float: right;
    width: 20px;
    height: 20px;
    margin-top: 29px;
    margin-right: 19px;
    opacity: 0.5;
}

#textbox {
    position: relative;
    margin-left: 47px;
    margin-top: 1px;
    width: 248px;
    height: 25px;
    background: #FFFFFF;
    border: 0.5px solid #B9B9B9;
    box-sizing: border-box;
    border-radius: 4px;
    border-right-style: hidden;
}

#textdiv {
    position: relative;
    width: 64px;
    height: 25px;
    float: left;
    margin-left: 290px;
    margin-top: 1px;
    background: #EFEFEF;
    border: 0.5px solid #B9B9B9;
    box-sizing: border-box;
    border-radius: 4px;
    border-left-style: hidden;
}

#rightimg {
    float: left;
    width: 15px;
    height: 15px;
    margin-top: 4px;
    margin-left: 16px;
    color: white;
    /* border: 1px solid #22DA77; */
}

#rightimg:hover {
    opacity: .5;
    color: #22DA77;
}

#wrongimg {
    float: right;
    width: 15px;
    height: 15px;
    margin-top: 4px;
    margin-right: 5px;
    color: white;
    border: 0.4px solid #F5F5F5;
}

#wrongimg:hover {
    opacity: .5;
    color: #FF0000;
}

#selectdiv {
    height: 41px;
    width: 376px;
    background: #F5F5F5;
    border-radius: 0px;
    border-bottom: 1px solid #E4E3E3;
}

#data {
    width: 100px;
    margin-left: 47px;
    margin-top: 10px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #16243C;
}

.finalBlock {
    width: 376px;
    height: 60px;
    /* background-color: greenyellow; */
}


/* width */

::-webkit-scrollbar {
    width: 5px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}