#top_div {
    position: absolute;
    width: 52px;
    height: 24px;
    left: 1260px;
    top: 173px;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 8px 8px 0px 0px;
}

#top_arrow {
    width: 15px;
    height: 8.57px;
    margin-left: 20px;
    margin-top: 6px;
    color: #000000;
    font-size: 18px;
    font-weight: 1000;
}

#top_arrow:hover {
    color: #2F73EA;
}

#main_container {
    position: absolute;
    width: 376px;
    height: 403px;
    right: 2%;
    bottom: 2%;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px 10px 0px 0px;
}

#inner_container {
    position: absolute;
    width: 376px;
    height: 284px;
    margin-top: 55px;
    background: #F5F5F5;
    border-radius: 0px;
}

#top_label {
    position: absolute;
    width: 232px;
    height: 25px;
    left: 35px;
    top: 16px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #16243C;
}

#eform_logo {
    width: 15px;
    height: 14.99px;
    float: left;
    margin-left: 11px;
    margin-top: 21px;
}

#search_div {
    width: 376px;
    height: 35px;
}

#search_img {
    width: 13.5px;
    height: 13.5px;
    margin-left: 9.8px;
    margin-top: 18.8px;
    color: #96A0B5;
    transition: all .3s ease-in-out;
}

#search_img:hover {
    color: #2F73EA;
    transform: scale(1.1);
}

#avatar_div {
    float: right;
    margin-right: 8px;
    margin-top: 13px;
    width: 88px;
    height: 25.06px;
}

#avatar {
    width: 26px;
    height: 26px;
    margin-left: -16px;
    border-radius: 50%;
    transition: all .3s ease-in-out;
}

#avatar:hover {
    background-color: #2F73EA;
    transform: scale(1.1);
}

#suggest_label {
    width: 90px;
    height: 20px;
    margin-left: 4.7px;
    margin-top: 15px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    color: #16243C;
}

#copy_icon {
    position: absolute;
    width: 12.13px;
    height: 14px;
    float: right;
    right: 74px;
    color: #535E76;
    opacity: 0.5;
    transition: all .3s ease-in-out;
}

#copy_icon:hover {
    color: #2F73EA;
    transform: scale(1.05);
}

#pause_icon {
    position: absolute;
    width: 12.13px;
    height: 14px;
    float: right;
    right: 44px;
    color: #535E76;
    opacity: 0.5;
    transition: all .3s ease-in-out;
}

#pause_icon:hover {
    color: #2F73EA;
    transform: scale(1.05);
}

#pin_icon {
    position: absolute;
    width: 12.13px;
    height: 14px;
    float: right;
    right: 14px;
    color: #535E76;
    opacity: 0.5;
    transition: all .3s ease-in-out;
}

#pin_icon:hover {
    color: #2F73EA;
    transform: scale(1.05);
}

#suggest_img {
    width: 17.08px;
    height: 18px;
    float: left;
    margin-left: 47px;
    margin-top: 12px;
    color: #535E76;
    transition: all .2s ease-in-out;
}

#suggest_img:hover {
    color: #2F73EA;
    transform: scale(1.05);
}

#professional_img {
    width: 18px;
    height: 18px;
    float: left;
    margin-left: 136.92px;
    margin-top: 12px;
}

#inbox_img {
    width: 18px;
    height: 18px;
    float: right;
    margin-right: 25px;
    margin-top: 12px;
}

#Current_user_icon {
    width: 26px;
    height: 26px;
    float: right;
    margin-top: 15px;
    margin-right: 33px;
}

#user_dropdown_arrow {
    width: 8px;
    height: 4.94px;
    float: right;
    margin-right: -40px;
    margin-top: 26px;
}

#suggestion_label {
    position: absolute;
    width: 73px;
    height: 16px;
    left: 20px;
    top: 373px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #535E76;
}

#suggestion_label:hover {
    color: #2F73EA;
}

#professional_label {
    position: absolute;
    width: 117px;
    height: 16px;
    left: 151px;
    top: 373px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #535E76;
}

#professional_label:hover {
    color: #2F73EA;
}

#inbox_label {
    position: absolute;
    width: 31px;
    height: 16px;
    right: 19px;
    top: 373px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #535E76;
}

#inbox_label:hover {
    color: #2F73EA;
}

#rating_img {
    width: 46px;
    height: 6px;
}

#rating_div {
    width: 76px;
    height: 16px;
    margin-top: 2px;
    margin-left: 16px;
}

#textInput {
    position: absolute;
    width: 366px;
    height: 46px;
    background: #F5F7FB;
    border-radius: 10px 10px 0px 0px;
    margin-left: -117px;
    margin-top: -50px;
}

#lower_div {
    width: 376px;
    height: 64px;
    margin-top: 339px;
    background-color: white;
}

#load_btn {
    position: absolute;
    width: 85px;
    height: 25px;
    background: #2F73EA;
    border-radius: 20px;
    margin-left: 157px;
    bottom: 10px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 10px;
    text-align: center;
    transition: all .3s ease-in-out;
    color: #FFFFFF;
}

#load_btn:hover {
    transform: scale(1.05);
}

#json_data_div {
    position: relative;
    height: 70px;
    width: 376px;
    margin-top: 18px;
}

#json_data_div:hover {
    background: #E9E9E9;
}

#icon_div {
    margin-top: -40px;
    position: relative;
    float: right;
}

#text {
    width: 186px;
    height: 36px;
    margin-left: 16px;
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #16243C;
}

#suggestion_div {
    width: 376px;
    height: 244px;
    overflow-y: hidden;
    overflow-x: hidden;
}

#suggestion_div:hover {
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 5px;
}

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}

 ::-webkit-scrollbar-thumb {
    background: #888;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.ismodal {
    display: none;
    position: absolute;
    z-index: 1;
    padding-top: 2px;
    left: 5px;
    top: 0px;
    width: 366px;
    height: 123px;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: white;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
}

.ismodal:hover {
    overflow-y: scroll;
}

.iconmodal {
    display: none;
    position: absolute;
    z-index: 1;
    padding-top: 2px;
    right: 8px;
    top: 40px;
    width: 177px;
    height: 111px;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: white;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
}

#icondiv {
    width: 177px;
    height: 29px;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

#icondiv:hover {
    background: #EBECF0;
}

#userlabel {
    /* float: right; */
    margin-left: 7px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #545F77;
}

#moreicon {
    float: left;
    font-size: 10px;
    margin-left: 10px;
}


/* Modal Content */

.ismodal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 80%;
    height: 50%;
}

.iconmodal-content {
    background-color: #fefefe;
    margin: auto;
    /* padding: 5px; */
    width: 100%;
    height: 100%;
}


/* The Close Button */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 18px;
    font-weight: bold;
    margin-top: -25px;
}

.iconclose {
    color: #aaaaaa;
    float: right;
    font-size: 18px;
    font-weight: bold;
    margin-top: -25px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.iconclose:hover,
.iconclose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#network {
    margin-left: 31px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    color: #2F73EA;
    text-decoration: none;
}

#info {
    margin-top: 4px;
    float: right;
    margin-right: 8px;
    font-size: 14px;
}

#resultset {
    margin-top: 1px;
    padding: 20px;
    width: 366px;
    height: 60px;
    list-style: none;
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #16243C;
}

#resultset:hover {
    background: #E9E9E9;
    cursor: pointer;
}

#resultdata {
    width: 186px;
    height: 38px;
    float: left;
}

#rate_number {
    margin-left: 8px;
    width: 18px;
    height: 16px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #0C788B;
}

#eformimg {
    width: 42.81px;
    height: 15px;
    margin-left: 5px;
    margin-top: 4px;
}

.usermodal {
    display: none;
    position: absolute;
    z-index: 1;
    left: 195px;
    top: 55px;
    width: 178px;
    height: 80px;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(44, 39, 56, 0.1), 0px 4px 10px rgba(44, 39, 56, 0.1);
    border-radius: 0px 0px 4px 4px;
}

.usermodal-content {
    background-color: #fefefe;
    margin: auto;
    width: 100%;
    height: 100%;
}

#options {
    width: 178px;
    height: 19px;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 48px;
    margin-right: 0px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #16243C;
    text-decoration: none;
}

#options:hover {
    background-color: #EBECF0;
}

#btn {
    float: right;
    width: 123px;
    height: 25px;
    background: #FBFBFB;
    border: 1px solid #E4E4E4;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    text-align: left;
    color: #16243C;
    transition: all .3s ease-in-out;
}

#btn:hover {
    transform: scale(1.05);
}

#reply {
    font-size: 15px;
    float: right;
    color: #2F73EA;
    right: 2px;
    margin-top: 1px;
}

#scroll_to_top_btn {
    width: 26px;
    height: 26px;
    background: #4C9AFF;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    position: absolute;
    bottom: 10px;
    right: 17px;
    z-index: 99;
    font-size: 10px;
    border: none;
    color: white;
    cursor: pointer;
    padding: 3px;
    border-radius: 50%;
}

#scroll_to_top_btn:hover {
    background-color: #555;
}

.thismodal {
    display: none;
    position: absolute;
    z-index: 1;
    padding-top: 2px;
    left: 5px;
    top: 4px;
    width: 366px;
    height: 284px;
    overflow-y: hidden;
    overflow-x: hidden;
    background: #F5F5F5;
    /* border-radius: 0px; */
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
}


/* Modal Content */

.thismodal-content {
    background: #F5F5F5;
    margin: auto;
    padding-top: 2px;
    width: 100%;
    height: 100%;
}


/* The Close Button */

.closeone {
    color: #aaaaaa;
    float: right;
    font-size: 13px;
    font-weight: bold;
    margin-top: -12px;
}

.closeone:hover,
.closeone:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#srchreslt {
    float: left;
    width: 110px;
    height: 20px;
    margin-top: 15px;
    margin-left: 16px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #16243C;
}

#uprdiv {
    width: 376px;
    height: 40px;
}

#icon_btn_cont {
    width: 150px;
    height: 25px;
    float: right;
    margin-right: 10px;
    margin-top: 15px;
}

#userbtn {
    float: right;
    width: 93px;
    height: 20px;
    /* margin-top: 15px; */
    /* margin-right: 49px; */
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    border-style: none;
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
}

#close {
    float: right;
    color: red;
    font-size: 10px;
    padding-left: 2px;
}

#searched_user_icon {
    width: 26px;
    height: 26px;
    float: right;
    /* margin-top: 15px; */
    margin-left: 9px;
    border-radius: 50%;
    transition: all .3s ease-in-out;
}

#searched_user_icon:hover {
    background-color: #2F73EA;
    transform: scale(1.1);
}

#copy_img {
    float: right;
    opacity: .5;
    margin-top: 20px;
    margin-right: 35px;
}

#reslt {
    width: 376px;
    height: 58px;
    margin-top: 7px;
}

#reslt:hover {
    background-color: lightgray;
    cursor: pointer;
}

#select {
    width: 186px;
    height: 36px;
    float: left;
    margin-top: 10px;
    margin-left: 16px;
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #16243C;
}

#close_srch_bar {
    position: relative;
    float: right;
    margin-top: -47px;
    margin-right: -80px;
    font-size: 30px;
}

#close_srch_bar:hover {
    color: #2F73EA;
    cursor: pointer;
}