.container-main {
  position: absolute;
  width: 376px;
  height: 435px;
  bottom: 2%;
  right: 2%;
}
.row-top_row {
  position: absolute;
  height: 24px;
}
.col-row_top {
  width: 52px;

  margin-left: 298px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px 8px 0px 0px;
}
.arrow {
  font-size: 14px;
  margin-left: 20px;
  margin-top: 8px;
  color: #000000;
  font-weight: 300;
}
.col-contain {
  position: absolute;
  height: 403px;
  /* top: 24px; */
  bottom: 2%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 10px 10px 0px 0px;
}

.container-heading {
  height: 55px;
}
.logo {
  position: absolute;
  margin-top: 21px;
  margin-left: 11px;
}
.title {
  font-family: Manrope;
}
.title-input_title {
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #545f77;
}
.title-task_title {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #16243c;
}
.title-login {
  position: absolute;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #16243c;
  margin-top: 16px;
  margin-left: 35px;
}
.title-align {
  margin-left: 18px;
  margin-top: 15px;
}
.container-inner {
  background: #f5f5f5;
  height: 346px;
}
.form-control-user_input {
  width: 315px;
  height: 45px;
  margin-left: 18px;
  margin-top: 9px;
  background: #ffffff;
  border: 1px solid #2f73ea;
  box-sizing: border-box;
  box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04);
  border-radius: 4px;
}
.btn-primary {
  position: absolute;
  width: 116px;
  height: 36px;
  border-radius: 6px;
  margin-top: 165px;
  margin-left: 130px;
}
.btn-text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}
